@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
 
*{
    box-sizing: border-box;

}
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    /* font-weight: 500; */
    font-size: 25px;
    color: rgb(252, 0, 130);
    text-decoration: none;
}
header{
    display:flex;
    align-items: center;
    text-align: center;
    padding: 10px 10px;
    background-color: rgba(155, 212, 226, 0.712);
}
.logo{
    cursor: pointer;
    margin: 7px;
}
.nav_links{
    list-style: none;
    
}
.text-center{
    text-align: center;
}
.nav_links li{
    display: inline-block;
    padding: 1% 20px ;
}
.nav_links li a:hover{
    color: rgb(0, 174, 255);
}
h3{
    color: #edf0f1;
    text-align: left;
}
p{
    color: white;
    font-size: 30px;
    text-align: left;
}
h2{
    color:black;
    font-size: 50px;
    text-align: center;
}
.content{
    margin: 30px;
}
p.cont{
    color:rgb(253, 57, 57);
    font-size: 50px;
    font-weight: 1000;
    /* text-align: center; */
    /* text-shadow: rgb(255, 255, 255); */
}
.contact{
    /* position:relative; */
    min-height: 100vh;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact h2{
   
    color:rgb(247, 11, 11);
    font-size: 50px;
    text-align: center;
}

.container{
    
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-direction: row;
}
.container .contactInfo{
    width: 50%;
    display: flex;
   
    
}
.container .contactInfo .box{
    position: relative;
    display: flex;
    padding:  20px 0;
}
.container .contactInfo .box .icon{
    min-width:60px;
    height: 60px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    font-size: 22px;

}
.container .contactInfo .box .text{
    display: inline;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-size: 30px;
    font-weight: 1700;
    padding:  10px 10px; 
    color: #070707;
}

.container .contactInfo .box .text p{
    font-size: 25px;
    font-weight:bold ;
    padding-inline: 10%;
    color: #030000;

}
.contactForm{
    width: 50%;
    height:50%;
    position: center;
    padding: 40px 50px;
    background: rgb(255, 255, 255);
}
.contact .contactForm h2{
    font-size:40px;
    padding :0;
    color: #070707;
    font-weight: bold;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 25px;
    /* margin: 10px 0; */
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    resize: none;
}

.contactForm .inputBox input[type="submit"]
{
  width: 20%;
  background: #ec833d;
  color: rgba(255, 255, 255, 0.87);
  border: none;
  cursor: pointer;
  position: relative;
  padding: 10px;
  font-size: 25px;
}


@media(max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo .contactForm{
        width: 100%;
    }
}
